@font-face { font-family: 'Open Sans'; src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }

@font-face { font-family: 'Open Sans Light'; src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"); }

@font-face { font-family: 'Nexa Light'; src: url("../fonts/Open_Sans/Nexa Light.otf") format("opentype"); }
