$background: #f4f4f4;
$black: #000000;
$black-header-text: #151515;
$gray-description-text: #222222;
$black-small-text: #222222;
$footer: #494949;
$line: #ffffff;
$footer-text: #ffffff;
$button-background: #000000;
$input-background: #F5F4FF;
$play-button: #ffffff;
$play-icon: #8C0BFF;
$placeholder: #222222;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin image-size {
    width: 100%;
    height: 900px;
}

@mixin placeholder {
    color: $placeholder;
    opacity: 0.5;
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

body {
    background: $background;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    @include flex-column;
    align-items: center;
}

.block {
    width: 1360px;
    min-height: 900px;
    @include flex-row;
}

header.top-menu {
    width: 1360px;
    height: 142px;
    background: $background;
    @include flex-row;
    align-items: center;
    justify-content: space-between;

    .logo {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -1px;
        color: $black;
        padding-left: 123px;
    }
    .search {
        margin-right: 130px;
    }
    .burger-menu {
        padding-right: 123px;
        @include flex-column;
        align-items: flex-end;
    }

    .burger-menu__item {
        &:first-child {
            width: 34px;
            height: 3px;
            background: $black;
        }

        &:last-child {
            width: 18px;
            height: 3px;
            background: $black;
            margin-top: 8px;
        }
    }
}

.header {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: $black-header-text;
}

.header-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $gray-description-text;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 70px;
}
.loader {
    padding-top: 200px;
}

.introduction__text {
    @include flex-column;
    padding: 65px;
    padding-left: 126px;
}

.introduction__image {
    @include image-size;
    background-image: url('../img/introduction.png');
    position: relative;
    .introduction__video {
        @include flex-row;
        align-items: flex-end;
        .preview {
            background-image: url('../img/video.png');
            background-repeat: no-repeat;
            width: 400px;
            height: 310px;
            @include flex-column;
            align-items: center;
            justify-content: center;
        }
        position: absolute;
        top: 310px;
        left: -125px;
        width: 400px;
        height: 364px;
    }
}

.play-button {
    width: 65px;
    height: 65px;
    background: $play-button;
    @include flex-column;
    align-items: center;
    justify-content: center;
}
.play-button__icon {
    width: 0; 
    height: 0; 
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 16px solid $play-icon;
    margin-left: 5px;
}

.wrapper {
    @include flex-row;
    padding: 126px 126px 0 126px;
}

.about__image {
    min-width: 475px;
    height: 564px;
    background-image: url('../img/about.png');
    background-repeat: no-repeat;
}

.about__text {
    @include flex-column;
    padding: 95px;
    padding-right: 0px;
}

.video {
    .wrapper {
        @include flex-column;
    }

    .header {
        width: 70%;
    }
}
.slider {
    max-width: 90%;
    position: relative;
    height: 500px;
    padding-top: 50px;
    margin-bottom: 15px;
    @include flex-row;
    
    .video_preview {
        object-fit: cover;
        width: 825px;
        height: 500px;
        @include flex-row;
        justify-content: center;
        align-items: center;
        &:nth-child(2n){
            background: url('../img/video1.png');
        }
        &:nth-child(2n + 1){
            background: url('../img/video2.png');            
        }
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .video_preview {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
}

.small-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 4px;
    text-transform: uppercase;
    color: $black-small-text;
    opacity: 0.7;
    padding-bottom: 40px;
}
.how-it-works__images {
    background-image: url('../img/hiw1.png');
    background-repeat: no-repeat;
    position: relative;
    flex-basis: 50%;
    .hit-image {
        padding-left: 115px;
        position: absolute;
    }
}
.how-it-works__text {
    flex-basis: 50%;
    padding: 38px 125px 0 220px;
}
.portfolio {
    .wrapper {
        @include flex-column;
        padding: 0 110px;
    }
    .show-all {
        @include flex-row;
        justify-content: flex-end;
        padding: 15px;
    }
}
.switcher__item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $black-small-text;
    opacity: 0.3;
}
.switcher {
    @include flex-row;
    justify-content: flex-end;
    .switcher__item {
        padding: 7px;
    }
    .switcher__item.active {
        opacity: 1;
    }
    padding-bottom: 100px;
    padding-top: 18px;
}

.black-button {
    background: $button-background;
    color: $footer-text;
    height: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: none;
    width: fit-content;
    padding: 0 34px;
}

.gallery {
    @include flex-row;
    flex-wrap: wrap;
    .gallery__image img{
        padding: 15px;
        width: 350px;
        height: 450px;
    }
}

.footer {
    height: 220px;
    background: $footer;
    width: 100%;
    @include flex-row;
    justify-content: center;
    color: $footer-text;
    .wrapper {
        width: 1360px;
        padding: 0;
        @include flex-column;
        justify-content: space-evenly;
    }
    .info {
        @include flex-row;
        align-items: center;
        .logo {
            flex-basis: 15%;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 32px;
        }
        nav {
            flex-basis: 35%;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
        }
    }
    .menu {
        @include flex-row;
        justify-content: space-evenly;
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            list-style-type: none;
        }
    }
    .feedback {
        flex-basis: 50%;
        form {
            @include flex-row;
            justify-content: flex-end;
            align-items: center;
            input {
                height: 34px;
                background: $input-background;
                border: none;
                margin: 0 15px;
                &::-webkit-input-placeholder {
                    @include placeholder;
                }
                &::-moz-placeholder {
                    @include placeholder;
                }
                &:-ms-input-placeholder {
                    @include placeholder;
                }
            }
        }
    }
    .line {
        width: 100%;
        height: 1px;
        background: $line;
        opacity: 0.8;
    }
    .social {
        @include flex-row;
        justify-content: flex-end;
        opacity: 0.4;
        .social__item {
            padding: 8px;
        }
    }
}